<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nd.dao.RecordDao">

    <!--根据电话号码查询每个月份的通话记录-->
    <select id="getRecord" resultType="Record">
        select *
        from tb_record
        where pid=#{pName}
    </select>
    <select id="getMonth" resultType="Record">
        select * from tb_record
    </select>

    <select id="getObject" resultType="Record">
        select * from tb_record
    </select>
</mapper>
